<section class="section">
    <div class="container">
        <app-loading></app-loading>
        <div *ngIf="httpError">
            <app-http-error [errorMessage]="httpError"></app-http-error>
        </div>
        <div *ngIf="(overviews$ | async) as overviews">
            <h1 class="title is-4">Variable Stars</h1>
            <div class="columns">
                <div class="column">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let key of objectKeys(overviews)">
                                <td>{{ overviews[key].varstar }}</td>
                                <td><a [routerLink]="['/overview', key]">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>