<section class="section">
    <div class="container">
        <div *ngIf="!httpError && !overviews">
            Loading...
            <progress class="progress is-small is-primary" max="100">15%</progress>
        </div>
        <div *ngIf="httpError">
            <app-http-error [errorMessage]="httpError"></app-http-error>
        </div>
        <div *ngIf="overviews">
            <h1 class="title is-4">Variable Stars</h1>
            <div class="columns">
                <div class="column">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let id of overviewIds">
                                <td>{{ overviews[id].varstar }}</td>
                                <td><a [routerLink]="['/overview', id]">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>