<h1 class="title is-4">{{ starname }}</h1>
<div class="tabs">
    <ul>
        <li routerLinkActive="is-active"><a [routerLink]="['/overview', id]">Overview</a></li>
        <li routerLinkActive="is-active"><a [routerLink]="['/observations', id]">Observations</a></li>
        <li routerLinkActive="is-active"><a [routerLink]="['/light-curve', id]">Light Curve</a></li>
        <li routerLinkActive="is-active"><a [routerLink]="['/phase-plot', id]">Phase Plot</a></li>
        <li routerLinkActive="is-active"><a [routerLink]="['/gallery', id]">Gallery</a></li>
    </ul>
</div>
