<section class="section">
    <div class="container">
        <ng-container *ngIf="(chart$ | async) as chart">
            <div class="columns">
                <div class="column">
                    <app-varstar-nav-bar [starname]="chart.starname" [id]="id"></app-varstar-nav-bar>
                </div>
            </div>
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="chart.lineChartData" 
                    [options]="lineChartOptions"
                    [colors]="chart.lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
            <button class="button is-small is-info" (click)="updateTime()">Update Time</button>
        </ng-container>
    </div>
</section>
