<section class="section">
    <div class="container">
        <div *ngIf="!httpError && !lineChartData">
            Loading...
            <progress class="progress is-small is-primary" max="100">15%</progress>
        </div>
        <div *ngIf="httpError">
            <app-http-error [errorMessage]="httpError"></app-http-error>
        </div>
        <ng-container *ngIf="lineChartData">
            <div class="columns">
                <div class="column">
                    <app-varstar-nav-bar [starname]="starname" [id]="id"></app-varstar-nav-bar>
                </div>
            </div>
            <div class="chart-wrapper" *ngIf="lineChartData.length > 0">
                <canvas baseChart 
                    [datasets]="lineChartData" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
            <button class="button is-small is-info" (click)="updateTime()">Update Time</button>
        </ng-container>
    </div>
</section>
