<article class="message is-danger">
    <div class="message-header">
        Oops...Unexpected Error!
    </div>
    <div class="message-body">
        {{ errorMessage }}
    </div>
</article>
<p>
    Please check your Internet connection by opening another browser tab and navigating to your
    favorite website. If that also fails then you have become disconnected from the Internet.
    Usually this is only a temporary interruption that your service provider should resolve.
    Once resolved then try refreshing this page. If you still get this error then please copy
    and paste the error message together with the URL and send it to my email address:
    kamisan at optimum dot net
</p>
