<div class="section">
    <div class="container">
        <h1 class="title is-4">Welcome to U235 Astrophotography</h1>
        <h2 class="subtitle is-5">Variable Star Plotting Tool for Personal Research</h2>
        <div class="content">
            <p>
                This site was born of my desire to share my work in
                <a href="https://en.wikipedia.org/wiki/Photometry_(astronomy)" target="_blank" rel="noopener noreferrer">Photometry</a>
                with others. The old way of taking screenshots and posting to forums just led to confusion
                especially in a dynamic environment where new observations are made whenever the weather cooperates.
            </p>
            <p>
                Some clarification is needed of the term "Personal Research". The data you browse here
                is my own. There is no facility to upload yours. This project is MIT licensed so
                you are free to clone it and deploy your own instance if you wish (see footer for links
                to GitHub.) If anyone is interested in joining the effort to include support for user
                accounts, I would be happy to be part of that project.
            </p>
            <p>
                If you are interested in learning more about variable stars then I recommend visiting the website of the
                <a href="https://www.aavso.org/" target="_blank" rel="noopener noreferrer">American Association of Variable Star Observers (AAVSO)</a>
                or simply doing an Internet search.
            </p>
            <p>
                Please visit my other sites related to Astrophotography and Photometry:
            </p>
            <ul>
                <li>
                    <a href="https://astrotuna.com/" target="_blank" rel="noopener noreferrer">AstroTuna - Tips For Taking Great Photos With Your Telescope</a>.
                    This is my WordPress blog that I update at least once a month with my latest work.
                </li>
                <li>
                    <a href="https://snrcalc.now.sh/" target="_blank" rel="noopener noreferrer">Signal-to-Noise (SNR) Tool</a>.
                    It answers the question "How many hours at the telescope do I need to invest in order to
                    achieve a certain image quality?" The answer depends on the brightness of the object, your seeing conditions,
                    and your telescope and camera.
                </li>
                <!-- <li>
                    <a href="https://u235.herokuapp.com/" target="_blank" rel="noopener noreferrer">U235 Astrophotography</a>.
                    This site guides you through the steps necessary to determining your specific <i>Color Balance Ratios</i> for
                    your monochrome CCD or CMOS camera and Filter Wheel.
                </li>
                <li>
                    <a href="https://hammerharden.herokuapp.com/" target="_blank" rel="noopener noreferrer">Hammerharden - The Sun, Moon and Planets in Real-Time</a>.
                    A dashboard is presented with tons of information that updates in real-time each and every second. You may select
                    from a wide variety of world locations or input custom locations. I use it every day. My browser's home page points
                    to it. I find it especially useful when setting up the telescope to know exactly how much daylight I have. Also it
                    tells me when it is dark enough to proceed with Polar Alignment. I find it to be a very useful tool.
                </li> -->
            </ul>
        </div>
    </div>
</div>