<div class="section">
    <div class="container">
        <h1 class="title is-4">Welcome to U235 Astrophotography</h1>
        <h2 class="subtitle is-5">Variable Star Plotting Tool for Personal Research</h2>
        <div class="content">
            <p>
                This site was born of my desire to share my work with others. The old way of taking
                screenshots and posting to forums just led to confusion especially in a dynamic
                environment where new observations arrive whenever the weather improves and clouds clear.
            </p>
            <p>
                Some clarification is needed of the term "Personal Research". The data you browse here
                is my own. There is no facility to upload your own. This project is MIT licensed so
                you are free to clone it and deploy your own instance if you wish (see footer for links
                to GitHub.) All code is freely available so you can extend it as you wish. If anyone is
                interested in joining the effort to include support for user accounts, I would be happy
                to be part of that project.
            </p>
            <p>
                If you are interested in learning more about variable stars then I recommend visiting the website of the
                <a href="https://www.aavso.org/" target="_blank" rel="noopener noreferrer">American Association of Variable Star Observers (AAVSO)</a>
                or simply doing an Internet search.
            </p>
        </div>
    </div>
</div>