<section class="section">
    <div class="container">
        <div *ngIf="!overviewHttpError && !overview">
            Loading...
            <progress class="progress is-small is-primary" max="100">15%</progress>
        </div>
        <div *ngIf="overviewHttpError">
            <app-http-error [errorMessage]="overviewHttpError"></app-http-error>
            <app-http-error-suggestion></app-http-error-suggestion>
        </div>
        <div *ngIf="overview">
            <div class="columns">
                <div class="column">
                    <app-varstar-nav-bar [overview]="overview" [id]="id"></app-varstar-nav-bar>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="label">Variable Type</div>
                    <div>{{ overview.vartype }}</div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="label">Constellation</div>
                    <div>{{ overview.constellation }}</div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="label">Right Ascension (J2000)</div>
                    <div>{{ overview.ra2000 }}</div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="label">Declination (J2000)</div>
                    <div>{{ overview.de2000 }}</div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="label">Period (days)</div>
                    <div>{{ overview.period }}</div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="label">Epoch (JD)</div>
                    <div>{{ overview.epoch }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
