<section class="section">
    <div class="container">
        <div *ngIf="!httpError && !(overview && gallery)">
            Loading...
            <progress class="progress is-small is-primary" max="100">15%</progress>
        </div>
        <div *ngIf="httpError">
            <app-http-error [errorMessage]="httpError"></app-http-error>
        </div>
        <ng-container *ngIf="overview && gallery">
            <div class="columns">
                <div class="column">
                    <app-varstar-nav-bar [starname]="overview.varstar" [id]="id"></app-varstar-nav-bar>
                </div>
            </div>
            <div *ngFor="let item of gallery">
                <img style="padding-right: 10px;" class="is-pulled-left" [src]="galleryUrl+item.image" alt="Image goes here" />
                <div class="content" [innerHTML]="item.content.join('')"></div>
                <br />
            </div>
        </ng-container>
    </div>
</section>
