<section class="section">
    <div class="container">
        <app-loading></app-loading>
        <div *ngIf="error">
            <app-http-error [errorMessage]="error"></app-http-error>
        </div>
        <ng-container *ngIf="!error">
            <div class="columns">
                <div class="column">
                    <app-varstar-nav-bar [starname]="varstar$ | async" [id]="id"></app-varstar-nav-bar>
                </div>
            </div>
            <div *ngFor="let item of gallery$ | async">
                <img style="padding-right: 10px;" class="is-pulled-left" [src]="galleryUrl+item.image" alt="Image goes here" />
                <div class="content" [innerHTML]="item.content.join('')"></div>
                <br />
            </div>
        </ng-container>
    </div>
</section>
